{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 mx-auto border rounded p-4 shadow-lg" style="background-color: #f8f9fa;">
        <h1 class="text-center text-primary fw-bold">Crear una Cuenta</h1>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button class="btn btn-success w-100" type="submit">Registrar</button>
            </div>
        </form>
        <div class="border-top pt-3 mt-4 text-center">
            <small class="text-black">
                ¿Ya tienes una cuenta? <a class="text-decoration-none fw-bold text-primary" href="{% url 'accounts:user_login' %}">Inicia Sesión</a>
            </small>
        </div>
    </div>
</div>

<style>
    .shadow-lg {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .btn-success {
        font-size: 1.1rem;
        border-radius: 25px;
    }

    .btn-success:hover {
        background-color: #218838;
    }

    hr {
        border-color: rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}
